:root {
  --theme-color: #ba80e5;
  --theme-sub-color: #e7d7f7;
  --theme-white-color: #ffffff;
  --font-main-color: #2f0e41;
  --font-sub-color: #8c8da9;
  --font-third-color: #8c8da9;
  --font-hover-color: #ba80e5;
  --font-main-size: 14px;
  --font-background-color: rgb(229, 231, 235);
  --divider-main-color: #e2e3e9;
  --divider-sub-color: rgba(60, 60, 60, 0.29);
  --divider-third-color: rgba(187, 187, 187, 0.2);
  --background-main-color: linear-gradient(
    180deg,
    #fafafc 0%,
    #f1f1f8 50%,
    #f0f1f8 100%
  );
  --background-sub-color: #ffffffb8;
  --background-active-color: rgba(86, 103, 241, 0.1);
  --background-article-color: linear-gradient(
    180deg,
    rgba(86, 103, 241, 0.1) 0%,
    #fafafc 15%,
    #f1f1f8 95%,
    #f0f1f8 100%
  );
  --background-hover-color: rgba(195, 177, 255, 0.18);
  --circle-color: linear-gradient(
    180deg,
    rgba(71, 15, 239, 0.4) 0%,
    rgba(49, 15, 239, 0.62) 68%,
    rgba(37, 15, 239, 0.04) 100%
  );
  --markdown-code-header-color: rgba(86, 103, 241, 0.08);
  --markdown-code-body-color: rgba(86, 103, 241, 0.04);
  --markdown-short-code-background: rgba(86, 103, 241, 0.08);
  --modal-mask-background: #ffffffe6;
  --modal-header-background: #ffffff;
  --modal-close-color: rgba(0, 0, 0, 0.45);
  --modal-body-background: #ffffff;
  --modal-content-background: #fafafa;
  --ai-bubble-background: rgba(187, 187, 187, 0.2);
  --send-button-background: linear-gradient(
    48deg,
    #615ced -2%,
    var(--theme-color) 93%
  );
}

.dark {
  --theme-color: #c7cdff;
  --font-main-color: oklch(1 0 0);
  --font-sub-color: oklch(100% 0 0 / 0.6);
  --font-third-color: #ffffff;
  --font-hover-color: var(--theme-color);
  --font-main-size: 14px;
  --font-background-color: rgba(229, 231, 235, 0.4);
  --divider-main-color: #e2e3e9;
  --divider-sub-color: rgba(60, 60, 60, 0.29);
  --divider-third-color: rgba(187, 187, 187, 0.2);
  --background-main-color: #0f1f24;
  --background-sub-color: rgba(44, 44, 44, 0.6);
  --background-active-color: rgba(229, 231, 235, 0.1);
  --background-article-color: #0f1f24;
  --background-hover-color: rgba(195, 177, 255, 0.18);
  --circle-color: linear-gradient(
    180deg,
    rgba(195, 177, 255, 0.998) 0%,
    rgba(162, 145, 255, 0.806) 68%,
    rgba(116, 101, 255, 0.936) 100%
  );
  --markdown-code-header-color: rgba(191, 197, 244, 0.1);
  --markdown-code-body-color: rgba(191, 197, 244, 0.1);
  --markdown-short-code-background: rgba(195, 177, 255, 0.4);
  --modal-mask-background: rgba(79, 93, 99, 0.7);
  --modal-header-background: rgba(0, 0, 0, 0.45);
  --modal-close-color: #ffffff;
  --modal-body-background: rgba(15, 31, 36);
  --modal-content-background: rgba(15, 31, 36);
  --ai-bubble-background: rgba(187, 187, 187, 0.2);
  --send-button-background: rgba(195, 177, 255, 0.998);
}

body {
  font-size: var(--font-main-size);
  color: var(--font-main-color);
  background: var(--background-main-color);
  overflow-y: auto;
  overflow-x: hidden;
  .page {
    position: relative;
    height: 100vh;
    // min-width: 1366px;
    // min-height: 700px;
    box-sizing: border-box;
  }
}

// 全局滚动条样式调整
html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  height: 6px;
  background-color: rgba(39, 38, 77, 0.1);
  border-radius: 4px;
}

// css动画
@keyframes enter-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(120%);
  }

  20% {
    opacity: 1;
    transform: translateY(76%);
  }

  70% {
    opacity: 1;
    transform: translateY(-10%);
  }

  95% {
    opacity: 0.9;
    transform: translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// css动画
@keyframes enter-from-bottom-2 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  10% {
    opacity: 1;
    transform: translateY(calc(100% - 60px));
  }

  60% {
    opacity: 1;
    transform: translateY(-10px);
  }

  80% {
    opacity: 0.9;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pause-hidden {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.ant-modal-mask {
  background-color: var(--modal-mask-background) !important;
}

.ant-modal-close {
  color: var(--modal-close-color) !important;
}

.ant-modal-header {
  color: var(--font-main-color);
  background-color: var(--modal-header-background) !important;
}

.ant-modal-body {
  color: var(--font-main-color);
}
