.markdown-custom {
  h2 {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 600;
  }
  h3 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  p {
    font-size: 16px;
    line-height: 36px;
  }
  ol {
    list-style-type: auto;
    margin-left: 3em;
  }
  ul {
    list-style-type: circle;
    margin-left: 1em;
  }
  li {
    font-size: 16px;
    line-height: 36px;
  }
  code {
    margin: 24px 0;
  }
}
