.layout-navbar-wrap {
  position: relative;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;

  &__active {
    transition: background 0.3s;
    border-bottom: 1px solid var(--divider-third-color);
    background-color: var(--background-sub-color);
    backdrop-filter: saturate(180%) blur(20px);
  }

  .layout-navbar {
    width: 1120px;
    height: 63px;
    margin: auto;
    display: flex;
    align-items: center;
    .layout-navbar-avatar {
      display: flex;
      font-size: 22px;
      font-weight: 600;
      align-items: center;

      .layout-navbar-avatar-icon {
        width: 40px;
        height: 40px;
        background-image: url("../../../static/img/avatar.jpg");
        background-size: 100% 100%;
        border-radius: 16px;
      }

      .layout-navbar-avatar-title {
        color: var(--font-main-color);
        text-decoration: none;
        background-color: var(--theme-color);
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
        padding: 0 3px 0 12px;
        display: flex;
        align-items: center;
        span {
          display: inline-block;
          height: 34px;
          line-height: 34px;
          border-radius: 18px;
          background-color: var(--font-main-color);
          padding: 0 12px;
          color: var(--theme-white-color);
          margin-left: 8px;
        }
      }
    }

    .layout-navbar-nav {
      height: 35px;
      border-right: 1px solid var(--divider-third-color);
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 16px;

      .layout-navbar-nav-item {
        cursor: pointer;
        font-size: 500;
        display: flex;
        align-items: center;
        margin-right: 16px;
        color: var(--font-main-color);
        &:hover {
          text-decoration: none;
          color: var(--font-hover-color);
        }
      }
    }
  }
}

.personal-modal {
  width: 850px !important;
  .ant-modal-content {
    background-color: #fafafa;
    padding: 32px;
    border: 1px solid rgba(228, 228, 231);
    box-shadow: 1px 10px 15px 0px rgba(228, 228, 231);
    .ant-modal-close {
      width: 24px;
      height: 24px;
      .ant-modal-close-x {
        font-size: 12px;
      }
    }
    .personal-modal-avatar {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      position: absolute;
      top: -28px;
      left: 401px;
      background-image: url("/static/img/avatar.jpg");
      background-size: 100% 100%;
    }
    .personal-modal-name {
      margin-top: 16px;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
    }
  }
}

.personal-intro {
  margin-top: 24px;
  .personal-intro-text {
    line-height: 24px;
  }
  .personal-intro-imgs {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 16px 0;
  }

  .text-box {
    height: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
    .text-box-icon {
      width: 16px;
      height: 16px;
    }

    span {
      margin: 0 4px 0 8px;
    }

    .text-box-copy {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  .layout-navbar {
    width: 90% !important;
  }
}

@media (max-width: 600px) {
  .layout-navbar {
    width: 90% !important;
    .layout-navbar-avatar {
      .layout-navbar-avatar-title {
        display: none;
      }
    }
  }
}
