.article-page {
  position: relative;
  min-height: calc(100vh - 86px);
  background: var(--background-forth-color);
  padding-top: 60px;
  .article-wrap {
    position: relative;
    width: 80%;
    margin: 120px auto;
    max-width: 860px;
    h1 {
      font-size: 36px;
      font-weight: 800;
      margin-bottom: 80px;
    }
  }
}

@media (max-width: 1000px) {
  .article-wrap {
    width: 80% !important;
    margin-top: 80px !important;
  }
}
